
</nav>

<div class="main">
    <%- include('beta-banner') %>

    <nav class="navbar navbar-expand navbar-light navbar-bg">
            <a class="sidebar-toggle">
                <i class="hamburger align-self-center d-none d-lg-block" style="display: flex;"></i>
                <img class="avatar border-primary d-lg-none" src="../img/brands/badge menu heimursaga1.png" width="75" height="75" alt="Heimursaga Badge">
            </a>


        <div class="d-none d-lg-block">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button class="text-muted align-middle header-search-icon" style="background: transparent; border: none;" title="Search" data-toggle="tooltip" data-placement="bottom"><i data-feather="search"></i></button>
        </div>


        <div class="navbar-collapse">
            <ul class="navbar-nav navbar-align">

                <li class="nav-item d-lg-none">

                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <button class="nav-icon header-search-icon-mobile position-relative" style="background: transparent; border: none;" title="Search" data-toggle="tooltip" data-placement="bottom"><i data-feather="search"></i></button>


                </li>

                <% if (user) { %>


                <li class="nav-item d-lg-none">
                    <div class="">
                        <a class="nav-icon" href="/discovery">
                            <div class="position-relative">
                                <i <% if (pageName === 'discovery') { %>
                                    class="text-primary align-middle" data-feather="compass">
                                    <% } else { %>
                                    class="text-muted align-middle" data-feather="compass">
                                    <% } %> ></i>
                            </div>
                        </a>                    
                    </div>
                </li>

                <li class="nav-item d-lg-none">
                    <div class="">
                        <a class="nav-icon" href="/my-feed">
                            <div class="position-relative">
                                <i <% if (pageName === 'my-feed') { %>
                                    class="text-primary align-middle" data-feather="users">
                                    <% } else { %>
                                    class="text-muted align-middle" data-feather="users">
                                    <% } %> ></i>                            
                            </div>
                        </a>                    
                    </div>
                </li>

                <li class="nav-item d-lg-none">
                    <div class="me-2">
                        <a class="nav-icon" href="/journal/<%= user.username %>">
                            <div class="position-relative">
                                <i <% if (pageName === 'my-journal') { %>
                                    class="text-primary align-middle" data-feather="book-open">
                                    <% } else { %>
                                    class="text-muted align-middle" data-feather="book-open">
                                    <% } %> ></i>                            
                            </div>
                        </a>                    
                    </div>
                </li>

                <li class="nav-item d-lg-none">
                    <div class="mt-1 me-3">
                        <a class="btn btn-primary" href="/create-entry"><i class="fas fa-feather-alt"></i><span class="d-none d-sm-inline">  Create Entry</span></a>
                    </div>
                </li>

            </ul>
        </div>

        <% } %>

        <div class="navbar-collapse collapse">
            <ul class="navbar-nav navbar-align">
 
                <% if (user) { %>
                    
                <li class="nav-item">
                        <div class="mt-1 me-2 d-none d-lg-block">
                            <a class="btn btn-primary" href="/create-entry"><i class="fas fa-feather-alt"></i><span class="d-none d-sm-inline">  Create Entry</span></a>
                        </div>
                </li>

                <!--<li class="nav-item dropdown">
                    <a class="nav-icon dropdown-toggle notification-icon" href="#" id="notification-icon alertsDropdown" data-bs-toggle="dropdown">
                        <div class="position-relative">
                            <i class="align-middle" data-feather="bell"></i>
                        </div>
                    </a>
                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end py-0 shadow" aria-labelledby="alertsDropdown">
                        <div class="user-notifications shadow" id="user-notifications"></div>
                        <script src="/socket.io/socket.io.js"></script>
                    </div>
                </li>-->

                <li class="nav-item dropdown">

                    <a class="nav-link dropdown-toggle d-sm-inline-block" href="#" data-bs-toggle="dropdown">
                        <img src="<%= user.avatar %>" class="avatar rounded-circle" alt="<%= user.username %>" /> <span class="text-dark d-none d-sm-inline ms-1"><%= user.username %></span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end">
                        <a class="dropdown-item" href="/journal/<%= user.username %>"><!--<i class="align-middle me-2" data-feather="book-open"></i>-->My Journal</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/settings/<%= user.username %>"><!--<i class="align-middle me-2" data-feather="settings"></i>-->Settings</a>
                        <!--<a class="dropdown-item" href="/upgrade/<%= user.username %>">Upgrade</a>-->
                        <a class="dropdown-item" href="/logout"><!--<i class="align-middle me-2" data-feather="log-out"></i>-->Logout</a>

                    </div>
                </li>

                <% } else { %>

                <li class="nav-item">
                    <a class="nav-link me-2" href="/join">Create Account</a>
                </li>

                <li class="nav-item">
                    <div class="mt-1 me-2">
                        <a class="btn btn-primary" href="/login" role="button">Login</a>
                    </div>
                </li>

                <% } %>

            </ul>
        </div>
    </nav>