</nav>
<div class="main">
    <nav class="navbar navbar-expand navbar-light navbar-bg">
        <a class="sidebar-toggle">
  <i class="hamburger align-self-center"></i>
</a>


        <div class="d-sm-inline-block">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <a href="#" class="text-muted mr-2 header-search-icon" title="Search" data-toggle="tooltip" data-placement="bottom"><i data-feather="search"></i></a>
        </div>
    

        <div class="navbar-collapse collapse">
            <ul class="navbar-nav navbar-align">
 
                <% if (user) { %>
                    
                <li class="nav-item">
                        <div class="mt-1 me-2">
                            <a class="btn btn-primary" href="/create-entry"><i class="fas fa-feather-alt"></i><span class="d-none d-sm-inline">  Create Entry</span></a>
                        </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-icon dropdown-toggle notification-icon disabled" href="#" id="alertsDropdown notification-icon" data-bs-toggle="dropdown">
                        <div class="position-relative">
                            <i class="align-middle" data-feather="bell"></i>
                        </div>
                    </a>
                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end py-0 shadow" aria-labelledby="alertsDropdown">
                        <div class="user-notifications shadow" id="user-notifications"></div>
                        <script src="/socket.io/socket.io.js"></script>
                    </div>
                </li>

                <li class="nav-item dropdown">

                    <a class="nav-link dropdown-toggle d-sm-inline-block" href="#" data-bs-toggle="dropdown">
                        <img src="<%= user.avatar %>" class="avatar img-fluid rounded-circle me-1" alt="<%= user.username %>" /> <span class="text-dark d-none d-sm-inline"><%= user.username %></span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end">
                        <a class="dropdown-item" href="/journal/<%= user.username %>"><i class="align-middle me-1" data-feather="user"></i>My Journal</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/settings/<%= user.username %>">Settings</a>
                        <a class="dropdown-item" href="/upgrade">Upgrade</a>
                        <a class="dropdown-item" href="/logout">Logout</a>
                    </div>
                </li>

                <% } else { %>

                <li class="nav-item">
                    <a class="nav-link me-2" href="/register">Create Account</a>
                </li>

                <li class="nav-item">
                    <div class="mt-1 me-2">
                        <a class="btn btn-primary" href="/login" role="button">Login</a>
                    </div>
                </li>

                <% } %>

            </ul>
        </div>
    </nav>