</nav>
<div class="main">
    <nav class="navbar navbar-expand navbar-light navbar-bg">
            <a class="sidebar-toggle">
                <i class="hamburger align-self-center d-none d-lg-block" style="display: flex;"></i>
                <img class="avatar rounded-circle border border-secondary d-lg-none" src="../img/Heimursaga White Badge.svg" width="45" height="45" alt="Heimursaga Badge">
            </a>


        <div class="">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <a href="#" class="text-muted align-middle header-search-icon" title="Search" data-toggle="tooltip" data-placement="bottom"><i data-feather="search"></i></a>
        </div>

        <!--<div class="navbar-collapse navbar-align d-lg-none">
            <a  href="/" >
            <img src="../img/brands/Heimursaga Full Logo.svg" height="45" alt="Heimursaga Logo">
            </a>
        </div>-->

        <% if (user) { %>

        <div class="navbar-collapse d-lg-none">
            <ul class="navbar-nav navbar-align d-lg-none">

                <li class="nav-item">
                    <div class="">
                        <a class="nav-icon" href="/discovery">
                            <div class="position-relative">
                                <i <% if (pageName === 'discovery') { %>
                                    class="text-primary align-middle" data-feather="compass">
                                    <% } else { %>
                                    class="text-muted align-middle" data-feather="compass">
                                    <% } %> ></i>
                            </div>
                        </a>                    
                    </div>
                </li>

                <li class="nav-item">
                    <div class="">
                        <a class="nav-icon" href="/my-feed">
                            <div class="position-relative">
                                <i <% if (pageName === 'my-feed') { %>
                                    class="text-primary align-middle" data-feather="users">
                                    <% } else { %>
                                    class="text-muted align-middle" data-feather="users">
                                    <% } %> ></i>                            
                            </div>
                        </a>                    
                    </div>
                </li>

                <li class="nav-item">
                    <div class="">
                        <a class="nav-icon" href="/journal/<%= user.username %>">
                            <div class="position-relative">
                                <i <% if (pageName === 'my-journal') { %>
                                    class="text-primary align-middle" data-feather="book-open">
                                    <% } else { %>
                                    class="text-muted align-middle" data-feather="book-open">
                                    <% } %> ></i>                            
                            </div>
                        </a>                    
                    </div>
                </li>
            </ul>
        </div>

        <% } %>

        <div class="navbar-collapse collapse">
            <ul class="navbar-nav navbar-align">
 
                <% if (user) { %>

               <!--<li <% if (pageName === 'discovery') { %>
                        class="sidebar-item active" 
                        <% } else { %>
                        class="sidebar-item"
                        <% } %> >
                    <a class="sidebar-link" href="/discovery" style="font-size: large">
                        <i class="align-middle" data-feather="compass"></i> <span class="align-middle">Discovery</span>
                    </a>
                </li>-->

                    
                <li class="nav-item">
                        <div class="mt-1 me-2">
                            <a class="btn btn-primary" href="/create-entry"><i class="fas fa-feather-alt"></i><span class="d-none d-sm-inline">  Create Entry</span></a>
                        </div>
                </li>

                <!--<li class="nav-item dropdown">
                    <a class="nav-icon dropdown-toggle notification-icon" href="#" id="notification-icon alertsDropdown" data-bs-toggle="dropdown">
                        <div class="position-relative">
                            <i class="align-middle" data-feather="bell"></i>
                        </div>
                    </a>
                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end py-0 shadow" aria-labelledby="alertsDropdown">
                        <div class="user-notifications shadow" id="user-notifications"></div>
                        <script src="/socket.io/socket.io.js"></script>
                    </div>
                </li>-->

                <li class="nav-item dropdown">

                    <a class="nav-link dropdown-toggle d-sm-inline-block" href="#" data-bs-toggle="dropdown">
                        <img src="<%= user.avatar %>" class="avatar rounded-circle" alt="<%= user.username %>" /> <span class="text-dark d-none d-sm-inline ms-1"><%= user.username %></span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end">
                        <a class="dropdown-item" href="/journal/<%= user.username %>"><i class="align-middle me-1" data-feather="user"></i>My Journal</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/settings/<%= user.username %>">Settings</a>
                        <a class="dropdown-item" href="/upgrade">Upgrade</a>
                        <a class="dropdown-item" href="/logout">Logout</a>
                    </div>
                </li>

                <% } else { %>

                <li class="nav-item">
                    <a class="nav-link me-2" href="/register">Create Account</a>
                </li>

                <li class="nav-item">
                    <div class="mt-1 me-2">
                        <a class="btn btn-primary" href="/login" role="button">Login</a>
                    </div>
                </li>

                <% } %>

            </ul>
        </div>
    </nav>