<%- include('includes/header') %>

<title>About Heimursaga | Journaling and Fundraising for Explorers and Travelers</title>

<%- include('includes/standard-meta') %>

</head>

<%- include('includes/sidebar') %>

<%- include('includes/navbar') %>

			<main class="content d-flex">
				<div class="container-fluid p-0">
					<div class="row">
						<div class="col-12 d-table-cell align-middle">
							<h3 class="text-center d-lg-none pb-3">About</h3>

							<!--<div class="text-center mb-4 me-4">
								<img src="./img/brands/Heimursaga Logo & Slogan Brown white-bg.svg" width="266" height="99.75" alt="Heimursaga">
							</div>-->
							<div class="card">
								<div class="card-body text-lg text-center col-md-8 offset-md-2 mb-4 mt-3">

										Heimursaga (HEY-mer-saga) is a text-focused, map-centric journaling and fundraising platform designed specifically for travelers. The name "Heimursaga" is derived from the Old Norse 
										words "heimr" meaning "world", and "saga" meaning "story". 
										Heimursaga explorers can write and share journal entries tagged to precise geographic coordinates, and readers or followers can sponsor their favorite explorers via one-time payments 
										or recurring subscriptions. Additional features include waypoint creation, journey mode (grouped entries by route), and private messaging (in development).

									<br><br>
									<hr>
									<br><br>

											<i>The explorer, the nomad, the adventurer, the traveler, the wanderer, the globetrotter. These are the people who know the value of a map. To them, the map is a sacred thing, a venerable and storied symbol of a world charted by millenia of human discovery. 
											But the map is soulless without the <i>stories</i>, those remarkable things that happened <i>here</i>. <br><br>The explorer knows the value of a story too, and he wants nothing more than to add his own to the map. It is the stories that inspire the ones back home. 
											It is the stories that generate the means and will to push the edges of the map ever further into the unknown. <br><br><b>This platform is 
											dedicated to the map, to the stories, and most of all, to the explorers.</b></i>

											<br><br>
											<hr>
											<br><br>

										<% if (!user) { %>
										<a href="/join">Create an account</a> or <a href="/login">login</a> to begin sharing your journey, or <a href="/">discover</a> explorers and entries as a guest!
										<br><br>
										<% } %>
								</div>
							</div>
						</div>


					</div>
				</div>
			</main>
			
<%- include('includes/footer') %>
