<%- include('includes/header') %>

<title>Heimursaga | Create Entry</title>

<%- include('includes/sidebar') %>

<%- include('includes/navbar') %>

<%- include('includes/overlay') %>

					<h1 class="h3 mb-3 text-center">Create an Entry</h1>

					<div class="row">
					<div class="col-md-8 offset-md-2">

						<div class="col-12 col-xl-12">
							<div class="card">
								<div class="card-header">
									<h5 class="card-title mb-0">Navigate to marker location</h5>
								</div>
								<div class="card-body">
									<div id="entrymap" style="height: 300px"></div>
								</div>
							</div>
						</div>

						<!--INCLUDE THIS IN FORM TAG WHEN PHOTO UPLOAD ENABLED: enctype="multipart/form-data"-->

						<form id="create-entry" method="POST" enctype="multipart/form-data">
							<div class="col-12 col-xl-12">
							  <div class="card">
								<div class="card-header">
								  <h5 class="card-title mb-0">Log marker coordinates</h5>
								</div>
								<div class="card-body">
									
								  <%- include('includes/flash') %>
						  
								  <div class="mb-3">
									<output
									  class="form-control"
									  type="text"
									  name="coordinates"
									  id="coordinates"
									  hidden
									></output>
								  </div>
						  
								  <button
									type="button"
									class="btn btn-outline-secondary mb-3"
									onclick="logCoordinates()"
								  >
									Log Coordinates
								  </button>
						  
								  <div class="mb-3">
									<label class="form-label">Lng/Lat Coordinates</label>
									<label class="form-text text-muted">
									  - when your marker is in place, click "Log Coordinates" to capture
									  the coordinates</label
									>
									<input
									  required
									  class="form-control readonly"
									  type="text"
									  name="lnglatcoordinates"
									  id="lnglatcoordinates"
									  onkeypress="return false;"
									/>
								  </div>
								</div>
							  </div>
							</div>
						  
							<div class="col-12 col-xl-12">

							<!--INCLUDE EXPLORER PRO GATE HERE-->

							<div class="card" id="journeydiv">
								<div class="card-header">
									<h5 class="card-title mb-0">Select Journey</h5>
								</div>
								<div class="card-body">

									<input class="form-select" list="journeyselect" id="journeyname" name="journeyname" maxlength="100" placeholder="Type to search or create, leave blank if not on a journey...">

									<datalist id="journeyselect">

										<% if (journeys) { %>

											<% journeys.forEach(function(journey){ %>
												<option value="<%= journey %>">
											<% }) %>
										<% } %>
									</datalist>

									<div class="mt-3" id="waypointdiv">
										<div class="form-check form-switch">
											<input class="form-check-input" type="checkbox" name="waypoint" id="waypoint" disabled/>
											<label class="form-check-label">Make Waypoint</label>
										</div>
									</div>

								</div>
							</div>

							  <div class="card" id="bodydiv">
								<div class="card-header">
								  <h5 class="card-title mb-0" id="entry-content-title">Write entry content</h5>
								</div>
								<div class="card-body">
								  <div class="mb-3" id="what-input">
									<label class="form-label">What</label>
									<label class="form-text text-muted">
									  - craft the perfect title and make it unique!</label
									>
									<input
									  required
									  name="title"
									  id="post-title"
									  class="form-control"
									  type="text"
									  maxlength="100"
									/>
								  </div>
								  <div class="mb-3" id="where-input">
									<label class="form-label">Where</label>
									<label class="form-text text-muted">
									  - the place where it happened - the official name or your own
									  name</label
									>
									<input
									  required
									  name="place"
									  id="post-place"
									  class="form-control"
									  type="text"
									  maxlength="100"
									/>
								  </div>
								  <div class="mb-3" id="when-input">
									<label class="form-label">When</label>
									<label class="form-text text-muted">
									  - date/time of occurence - may be different from the date you post</label
									>
									  
									<input required name="datesingle" class="form-control" type="text" />
								  </div>
								  <div class="mb-3" id="body-input">
									<label class="form-label">Tell your story</label>
									<label class="form-text text-muted">
									  - in 100-1,000 words - if there's more write a series! </label>
									
									<textarea required name="body" id="post-body" class="body-content tall-textarea form-control" word-limit="true" max-words="1000" min-words="100" type="text" rows="10"></textarea>
									<div class="text-muted form-text">
									Word Count: <span id="show">0</span>
									</div>
									<span></span>
									<div class="writing_error form-text text-danger"></div>
								  </div>
								</div>
							  </div>
							</div>

							<div class="col-12 col-xl-12" id="photoUploadDiv">
								<div class="card">
								  <div class="card-header">
									<h5 class="card-title mb-0">Upload your photo</h5>
									<label class="form-text text-muted pt-3">
										Photos will be cropped to fit a 3:2 (landscape) aspect ratio and should be a minimum of 900x600px. For best results, edit your photo before upload. Photo uploads are optional.</label>

									</div>
								  <div class="card-body">
									
									<div class="col-12 col-md-10 offset-md-1">

											<style>
												.filepond--root {
													z-index: 1 !important;
												}

												.filepond--drop-label {
													color: #4c4e53;
												}

												.filepond--label-action {
													text-decoration-color: #babdc0;
												}

												.filepond--panel-root {
													background-color: transparent;

												}

												.filepond--item-panel {
													background: transparent;
													border-radius: 0em;
													border-width: 0em;
												}

												.filepond--image-preview {
													background: white;
													height: 100%;
													width: 100%;
												}

												.filepond--item > .filepond--panel .filepond--panel-bottom {
													box-shadow: none;
													}

												.filepond--image-preview-overlay svg {
													display: none;
												}

												.filepond--file-info {
													display: none;
													top: 10em;
													color: black;
												}

												.filepond--file-status {
													display: none;
												}
												
												.filepond--file-action-button filepond--action-remove-item {
													display: none;
												}


												
											</style>
											
											<input type="file" 
												class="filepond"
												name="filepond"
												accept="image/png, image/jpeg"
											/>
									</div>
									
									<input type="text" id="photoindicator" name="photoindicator" value="photo" hidden>

								  </div>
								</div>
							</div>
						  
							<div class="col-12 col-xl-12" id="post-card">
							  <div class="card">
								<div class="card-header">
								  <h5 class="card-title mb-0">Confirm privacy and post/save entry</h5>
								</div>
								<div class="card-body">

									<div class="form-check">
										<input type="radio" class="form-check-input" name="flexRadioDefault" id="entrypublic" value="public" autocomplete="off" checked>
										<label class="form-check-label" for="entrypublic">Public</label>
								  	</div>
									<div class="form-check">
										<input type="radio" class="form-check-input" name="flexRadioDefault" id="entryprivate" value="private" autocomplete="off">
										<label class="form-check-label" for="entryprivate">Private</label>
									</div>

																<!--INCLUDE EXPLORER PRO GATE HERE-->

									<div class="form-check pb-3">
										<input type="radio" class="form-check-input" name="flexRadioDefault" id="entrysponsors" value="sponsors" autocomplete="off">
										<label class="form-check-label" for="entrysponsors">Sponsors Only</label>
									</div>


									<div class="submit_error form-text text-danger"></div>


									<button type="submit" id="save-draft" formaction="/save-draft/?_csrf=<%=csrfToken%>" onclick="showLoader()" class="btn btn-secondary">Save to Drafts</button>
								 
									<button type="submit" id="submit-entry" formaction="/create-entry/?_csrf=<%=csrfToken%>" class="btn btn-primary" onClick="showLoader()" disabled>Post Entry</button>


								</div>
							  </div>
							</div>

							<div class="col-12 col-xl-12" id="waypoint-post-card" hidden>
								<div class="card">
								  <div class="card-header">
									<h5 class="card-title mb-0">Post Waypoint</h5>
								  </div>
								  <div class="card-body">
    
									  <div class="submit_error form-text text-danger"></div>
  								   
									  <button type="submit" id="submit-waypoint" formaction="/create-waypoint/?_csrf=<%=csrfToken%>" class="btn btn-primary" onClick="showLoader()" disabled>Post Waypoint</button>
  
								  </div>
								</div>
							  </div>
						  </form>
						  
					</div>
				</div>

				</div>
			</main>

			<%- include('includes/footer') %>

<script>

	var journeyDiv = document.getElementById("journeydiv")
	var journeyInput = document.getElementById("journeyname")
	var waypointDiv = document.getElementById("waypointdiv")
	var waypointToggle = document.getElementById("waypoint")
	var bodyDiv = document.getElementById("bodydiv")
	var photoUploadDiv = document.getElementById("photoUploadDiv")
	var draftButton = document.getElementById("save-draft")
	var postButton = document.getElementById("submit-entry")
	var postCard = document.getElementById("post-card")
	var waypointPostCard = document.getElementById("waypoint-post-card")
	var waypointPostButton = document.getElementById("submit-waypoint")
	var postBody = document.getElementById("post-body")
	var postPlace = document.getElementById("post-place")
	var postTitle = document.getElementById("post-title")
	var bodyInput = document.getElementById("body-input")
	var whatInput = document.getElementById("what-input")
	var whereInput = document.getElementById("where-input")
	var whenInput = document.getElementById("when-input")
	var entryContentTitle = document.getElementById("entry-content-title")


	journeyInput.addEventListener('input', showWaypointSelect)

	function showWaypointSelect() {
		if (journeyInput.value != "") {
    		waypointToggle.removeAttribute("disabled", true)
			waypointPostButton.removeAttribute("disabled", true)
  		} else {
    		waypointToggle.setAttribute("disabled", true)
			waypointPostButton.setAttribute("disabled", true)
  		}
	}

	waypointToggle.addEventListener('change', showHideEntryInputs)

	function showHideEntryInputs() {
		console.log(waypointToggle.value)
		if (waypointToggle.checked == true) {
			entryContentTitle.innerText = "Write Waypoint Content"
    		bodyInput.setAttribute("hidden", true)
			whereInput.setAttribute("hidden", true)
			photoUploadDiv.setAttribute("hidden", true)
			postCard.setAttribute("hidden", true)
			waypointPostCard.removeAttribute("hidden", true)
			postBody.removeAttribute("required", true)
			postTitle.removeAttribute("required", true)
			postPlace.removeAttribute("required", true)
			journeyInput.setAttribute("required", true)
  		} else {
			entryContentTitle.innerText = "Write Entry Content"
			bodyInput.removeAttribute("hidden", true)
			whereInput.removeAttribute("hidden", true)
			photoUploadDiv.removeAttribute("hidden", true)
			postCard.removeAttribute("hidden", true)
			waypointPostCard.setAttribute("hidden", true)
			postBody.setAttribute("required", true)
			postTitle.setAttribute("required", true)
			postPlace.setAttribute("required", true)
			journeyInput.removeAttribute("required", true)
  		}
	}
	

    var form = document.getElementById("create-entry")
	var overlay = document.getElementById("overlay")
    var overlayQuote = document.getElementById("overlay-quote");
        
        
    function showLoader() {
		if (form.checkValidity()) {
			overlay.removeAttribute("hidden")
            randomIndex = Math.ceil((Math.random()*randomQuotes.length-1));
            newQuote = randomQuotes[randomIndex];
            overlayQuote.innerHTML = newQuote;

		}
	}


		// Add event trigger for change to textareas with limit
		$(document).on("input", "textarea[word-limit=true]", function() {


		// Get individual limits
		thisMin = parseInt($(this).attr("min-words"));
		thisMax = parseInt($(this).attr("max-words"));
		const submit = document.querySelector("#submit-entry")
		const coordinates = document.querySelector('#lnglatcoordinates')

		// Create array of words, skipping the blanks
		var removedBlanks = [];
		removedBlanks = $(this).val().split(/\s+/).filter(Boolean);
		
		// Get word count
		var wordCount = removedBlanks.length;
		
		// Remove extra words from string if over word limit
		if (wordCount > thisMax) {
				
			// Trim string, use slice to get the first 'n' values
			var trimmed = removedBlanks.slice(0, thisMax ).join(" ");
			
			// Add space to ensure further typing attempts to add a new word (rather than adding to penultimate word)
			$(this).val(trimmed + " ");
			
			}
			
		
		// Compare word count to limits and print message as appropriate
		if ( wordCount < thisMin) {
		
			$(this).parent().children(".writing_error").text("Word count under " + thisMin + ".");
		
		} else if (wordCount > thisMax) {

			$(this).parent().children(".writing_error").text("Word count over " + thisMax + ".");
		
		} else {
			
			// No issues, remove warning message
			$(this).parent().children(".writing_error").text("");

		}

		if ( wordCount < thisMin) {
		
			submit.setAttribute("disabled", true);
	
		} else if (wordCount > thisMax) {

			submit.setAttribute("disabled", true);
		
		} else {
			
			// No issues, remove warning message
			submit.removeAttribute("disabled");

		}

		if (coordinates.value() == "") {
			submit.setAttribute("disabled", true);
		} else {
			submit.removeAttribute("disabled");
		}

		});

		mapboxgl.accessToken = 'pk.eyJ1IjoiY25oMTE4NyIsImEiOiJja28wZTZpNGowY3RoMnBvaTgxZ2M5c3ljIn0.t3_T3EN00e5w7D0et4hf-w';
		const entrymap = new mapboxgl.Map({
			container: 'entrymap', // container ID
			style: 'mapbox://styles/cnh1187/clikkzykm00wb01qf28pz4adt',
			center: [-33.609412,36.749601], // starting position [lng, lat]
			zoom: 0,// starting zoom
			attributionControl: false,
			});

			/*entrymap.on('load', () => {
				entrymap.addSource('10m-bathymetry-81bsvj', {
				type: 'vector',
				url: 'mapbox://mapbox.9tm8dx88'
				});
				
				entrymap.addLayer(
				{
				'id': '10m-bathymetry-81bsvj',
				'type': 'fill',
				'source': '10m-bathymetry-81bsvj',
				'source-layer': '10m-bathymetry-81bsvj',
				'layout': {},
				'paint': {
				'fill-outline-color': 'hsla(337, 82%, 62%, 0)',
				// cubic bezier is a four point curve for smooth and precise styling
				// adjust the points to change the rate and intensity of interpolation
				'fill-color': [
				'interpolate',
				['cubic-bezier', 0, 0.5, 1, 0.5],
				['get', 'DEPTH'],
				200,
      			'#4676ac',
      			9000,
      			'#385E89'
				]
				}
				},
				'land-structure-polygon'
				);
				});*/

				
			var marker = new mapboxgl.Marker({
				color: '#ac6d46',
				draggable: false,
				})
				.setLngLat([-33.609412,36.749601])
				.addTo(entrymap);

			entrymap.on('load', () => {
				entrymap.addSource('mapbox-dem', {
				'type': 'raster-dem',
				'url': 'mapbox://mapbox.mapbox-terrain-dem-v1',
				'tileSize': 512,
				'maxzoom': 14
				});
				// add the DEM source as a terrain layer with exaggerated height
				entrymap.setTerrain({ 'source': 'mapbox-dem', 'exaggeration': 1.5 });
				})


			entrymap.on('move', function (e) {
				marker.setLngLat(entrymap.getCenter());
				var lngLat = marker.getLngLat();
				var entryCoordinates = marker.getLngLat();
				//console.log(document.getElementById('coordinates').value);
				coordinates.innerHTML = [lngLat.lng,lngLat.lat];
				coordinates.style.display = 'block';
			});

			var coordinatesGeocoder = function (query) {
				// Match anything which looks like
				// decimal degrees coordinate pair.
				var matches = query.match(
				/^[ ]*(?:Lat: )?(-?\d+\.?\d*)[, ]+(?:Lng: )?(-?\d+\.?\d*)[ ]*$/i
				);
				if (!matches) {
				return null;
				}
				
				function coordinateFeature(lng, lat) {
				return {
				center: [lng, lat],
				geometry: {
				type: 'Point',
				coordinates: [lng, lat]
				},
				place_name: 'Lat: ' + lat + ' Lng: ' + lng,
				place_type: ['coordinate'],
				properties: {},
				type: 'Feature'
				};
				}
				
				var coord1 = Number(matches[1]);
				var coord2 = Number(matches[2]);
				var geocodes = [];
				
				if (coord1 < -90 || coord1 > 90) {
				// must be lng, lat
				geocodes.push(coordinateFeature(coord1, coord2));
				}
				
				if (coord2 < -90 || coord2 > 90) {
				// must be lat, lng
				geocodes.push(coordinateFeature(coord2, coord1));
				}
				
				if (geocodes.length === 0) {
				// else could be either lng, lat or lat, lng
				geocodes.push(coordinateFeature(coord1, coord2));
				geocodes.push(coordinateFeature(coord2, coord1));
				}
				
				return geocodes;
				};

			entrymap.addControl(
				new MapboxGeocoder({
				accessToken: mapboxgl.accessToken,
				localGeocoder: coordinatesGeocoder,
				marker: false,
				mapboxgl: mapboxgl,
				})
			);

			entrymap.addControl(new mapboxgl.GeolocateControl({
				positionOptions: {
				enableHighAccuracy: true
				},
				trackUserLocation: true
				})
			);
			

		function logCoordinates() {
			var copyText = document.getElementById('coordinates').value;
			document.getElementById('lnglatcoordinates').value = copyText;
			}

		document.querySelector("#post-body")
			.addEventListener("keyup", function countWord() {
			let res = [];
			let str = this.value.replace(/[\t\n\r\.\?\!]/gm, " ").split(" ");
			str.map((s) => {
				let trimStr = s.trim();
				if (trimStr.length > 0) {
				res.push(trimStr);
				}
			});
		document.querySelector("#show").innerText = res.length;
		});

		document.addEventListener("DOMContentLoaded", function() {
			// Select2
			$(".select2").each(function() {
				$(this)
					.wrap("<div class=\"position-relative\"></div>")
					.select2({
						placeholder: "Select value",
						dropdownParent: $(this).parent()
					});
			})
			// Daterangepicker

			$('input[name="datesingle"]').daterangepicker({
				singleDatePicker: true,
				timePicker: true,
				locale: {
				format: 'M/DD/YYYY hh:mm A'
				}
			});
		});

	</script>
</body>

</html>