<%- include('includes/header') %>

<title>Heimursaga | Discovery</title>

<%- include('includes/sidebar') %>

<%- include('includes/navbar') %>


<main class="content">
        <div class="container-fluid">
            <div class="row">
                <%- include('includes/flash') %>

                <div class="col-12 col-lg-8 d-flex">
                    <div class="card w-100" style="height: 80vh;">
                        <div class="card d-flex w-100"">
                                <style>
                                    .mapboxgl-popup {
                                    max-width: 400px;
                                    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
                                    }
                                </style>
                                
                                <input type="hidden" name="_csrf" value="<%= csrfToken %>">

                                <div id="map" class="map" style='width: 100%; height: 80vh;'></div>
                                
                        </div>
                    </div>
                </div>

                <div class="col-12 col-lg-4 d-flex">
                    <div class="card flex-fill" style="height: 80vh;">
                        <div class="card-body overflow-auto">
                            <div class="list-group list-group-flush">

                                <input type="hidden" name="_csrf" value="<%= csrfToken %>">

                                <div id="dynamic-entry-feed" class="dynamic-entry-feed" style='height: 80vh;'></div>
                                

                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>

</main>


<script type="text/javascript">

    function convertToPlain(html){
        var tempDivElement = document.createElement('entrymarkers');
        tempDivElement.innerHTML = html;
        return tempDivElement.textContent || tempDivElement.innerText || '';
    }

    var htmlString= '<entrymarkers><%= entrymarker %></entrymarkers>';

    var markers = (convertToPlain(htmlString))

</script>
			
<%- include('includes/footer') %>