<%- include('includes/header') %>

<title>Heimursaga | Edit Draft Entry</title>

<%- include('includes/sidebar') %>

<%- include('includes/navbar') %>


<main class="content" style="padding: 0rem !important;">
	<div class="container-fluid p-0" style="position: relative;">

		<div class="col-12" style="padding: 0rem;" class="overlay" id="overlay" style="z-index: 2; position: fixed;" hidden>
			<div class="d-flex flex-column align-items-center justify-content-center" style="position: absolute; left: 50%; margin-left: -30px;">
				<div class="d-flex flex-column align-items-center justify-content-center" style="position:fixed; top: 50%; margin-top: -100px;">
					<div class="spinner-border" role="status">
					  <span class="sr-only">Loading...</span>
					</div>
					<div class="row text-center align-items-center justify-content-center p-4" >
						"A nomad I will remain for life, in love with distant and uncharted places."</p><small>- Isabelle Eberhardt</small>
					</div>
				</div>
			</div>
		</div>
	<div style="padding: 2.5rem 2.5rem 1.5rem !important;">

					<h1 class="h3 mb-3 text-center">Edit Draft Entry</h1>

					<div class="row">
						<!--<a class="small font-weight-bold mb-3 ml-3 col-md-8 offset-md-2" href="/draft/<%= draft._id %>">&laquo; Back to draft permalink</a>-->

						<div class="col-md-8 offset-md-2">
							<div class="card">

								<div class="card-header">
									<%- include('includes/flash') %>
									<h5 class="card-title mb-0">1. Navigate to marker location</h5>
								</div>
								<div class="card-body">

									<div class="entrymap" id="entrymap" style="height: 300px"></div>
								</div>
							</div>
						</div>

						<form id="edit-draft" method="POST" enctype="multipart/form-data">
							<div class="col-md-8 offset-md-2">
							  <div class="card">
								<div class="card-header">
								  <h5 class="card-title mb-0">2. Log marker coordinates</h5>
								</div>
								<div class="card-body">
								  
						  
								  <div class="mb-3">
									<output
									  class="form-control"
									  type="text"
									  name="coordinates"
									  id="coordinates"
									  hidden
									></output>
								  </div>
						  
								  <button
									type="button"
									class="btn btn-outline-secondary mb-3"
									onclick="myFunction()"
								  >
									Log Coordinates
								  </button>
						  
								  <div class="mb-3">
									<label class="form-label">Lng/Lat Coordinates</label>
									<label class="form-text text-muted">
									  - when your marker is in place, click "Log Coordinates" to capture
									  the coordinates</label
									>
									<input
									  class="form-control"
									  type="text"
									  name="lnglatcoordinates"
									  id="lnglatcoordinates"
									  value="<%= JSON.stringify(draft.GeoJSONcoordinates.coordinates[0]) %>, <%= JSON.stringify(draft.GeoJSONcoordinates.coordinates[1]) %>"
									  readonly
									/>
								  </div>
								</div>
							  </div>
							</div>
						  
							<div class="col-md-8 offset-md-2">
							  <div class="card">
								<div class="card-header">
								  <h5 class="card-title mb-0">3. Write entry content</h5>
								</div>
								<div class="card-body">
								  <div class="mb-3">
									<label class="form-label">What</label>
									<label class="form-text text-muted">
									  - craft the perfect title and make it unique!</label
									>
									<input
									  required
									  name="title"
									  id="post-title"
									  class="form-control"
									  type="text"
									  value="<%= draft.title %>"
									/>
								  </div>
								  <div class="mb-3">
									<label class="form-label">Where</label>
									<label class="form-text text-muted">
									  - the place where it happened - the official name or your own
									  name</label
									>
									<input
									  required
									  name="place"
									  id="post-place"
									  class="form-control"
									  type="text"
									  value="<%= draft.place %>"
									/>
								  </div>
								  <div class="mb-3">
									<label class="form-label">When</label>
									<label class="form-text text-muted">
									  - date of occurence - may be different from the date you post</label
									>
									<input required name="datesingle" class="form-control" type="text" value="<%= draft.date %>"/>
								  </div>
								  <div class="mb-3">
									<label class="form-label">Tell Your Story</label>
									<label class="form-text text-muted">
									  - in 150-1000 words - if there's more write a series!</label
									>
									<textarea required name="body" id="post-body" class="body-content tall-textarea form-control" word-limit="true" max-words="1000" min-words="150" type="text" rows="10"><%= draft.body %></textarea>
									<div class="text-muted form-text">
									Word Count: <span id="show">0</span>
									</div>
									<span></span>
									<div class="writing_error form-text text-danger"></div>

								</div>
								</div>
							  </div>
							</div>
						  
							<div class="col-md-8 offset-md-2">
								<div class="card">
								  <div class="card-header">
									<h5 class="card-title mb-0">4. Upload your photo</h5>
									<label class="form-text text-muted pt-3">
										Photos will be cropped to fit a 3:2 (landscape) aspect ratio and should be a minimum of 900x600px. For best results, edit your photo before upload. Photo uploads are optional.</label>

									</div>
								  <div class="card-body">


									<% if (draft.hasPhoto) { %>

									<div id="photo-module">
										<div class="mb-5 col-md-8 offset-md-2">
											<img src="https://f002.backblazeb2.com/file/heimursaga-entry-photos/<%= draft._id %>" class="img-fluid" alt="entry image">
										</div>
									</div>

									<% } %>


									<button id="photo-button" type="button" class="btn btn-secondary text-center mt-1" onclick="deletePhoto()">Update photo</button>

									
									<div id="upload-module" class="col-12 col-md-10 offset-md-1" hidden>

											<style>
												.filepond--root {
													z-index: 1 !important;
												}

												.filepond--drop-label {
													color: #4c4e53;
												}

												.filepond--label-action {
													text-decoration-color: #babdc0;
												}

												.filepond--panel-root {
													background-color: transparent;

												}

												.filepond--item-panel {
													background: transparent;
													border-radius: 0em;
													border-width: 0em;
												}

												.filepond--image-preview {
													background: white;
													height: 100%;
													width: 100%;
												}

												.filepond--item > .filepond--panel .filepond--panel-bottom {
													box-shadow: none;
													}

												.filepond--image-preview-overlay svg {
													display: none;
												}

												.filepond--file-info {
													display: none;
													top: 10em;
													color: black;
												}

												.filepond--file-status {
													display: none;
												}
												
												.filepond--file-action-button filepond--action-remove-item {
													display: none;
												}


												
											</style>
											
											<input type="file" 
												class="filepond"
												name="filepond"
												accept="image/png, image/jpeg"
											/>
									</div>

									<input type="text" id="photoindicator" name="photoindicator" hidden>


								  </div>
								</div>
							</div>

							<div class="col-md-8 offset-md-2">
							  <div class="card">
								<div class="card-header">
								  <h5 class="card-title mb-0">4. Update or post draft as entry</h5>
								</div>
								<div class="card-body">


								  <button type="submit" onclick="return confirm('Are you sure you want to delete this draft? This action is irreversible.');" formaction="/draft/<%= draft._id %>/delete?_csrf=<%= csrfToken %>" class="btn btn-danger">Delete</button>
								 
								  <button type="submit" onclick="showLoader()" formaction="/draft/<%= draft._id %>/edit?_csrf=<%= csrfToken %>" class="btn btn-secondary">Update</button>
								  
								  <button type="submit" onclick="showLoader()" id="submit-entry" formaction="/draft/<%= draft._id %>/post-entry?_csrf=<%= csrfToken %>" class="btn btn-primary" disabled>Post as Entry</button>
								
								</div>
							  </div>
							</div>
						  </form>
						  
					</div>

				</div>
			</main>

			<%- include('includes/footer') %>

	<script>


		function showLoader() {
			const form = document.getElementById("edit-draft")
			const overlay = document.getElementById("overlay")
			if (form.checkValidity()) {
				overlay.removeAttribute("hidden")
			}
		}


		function deletePhoto() {
			let photoModule = document.getElementById('photo-module')
			let uploadModule = document.getElementById('upload-module')
			let photoButton = document.getElementById('photo-button')
			photoButton.hidden = true
			uploadModule.hidden = false
			photoModule.hidden = true
			document.getElementById('photoindicator').value = 'delete'
		}

				// Add event trigger for change to textareas with limit
				$(document).on("input", "textarea[word-limit=true]", function() {


				// Get individual limits
				thisMin = parseInt($(this).attr("min-words"));
				thisMax = parseInt($(this).attr("max-words"));
				const submit = document.querySelector("#submit-entry")
				const coordinates = document.querySelector('#lnglatcoordinates')

				// Create array of words, skipping the blanks
				var removedBlanks = [];
				removedBlanks = $(this).val().split(/\s+/).filter(Boolean);

				// Get word count
				var wordCount = removedBlanks.length;

				// Remove extra words from string if over word limit
				if (wordCount > thisMax) {
						
					// Trim string, use slice to get the first 'n' values
					var trimmed = removedBlanks.slice(0, thisMax ).join(" ");
					
					// Add space to ensure further typing attempts to add a new word (rather than adding to penultimate word)
					$(this).val(trimmed + " ");
					
					}
					

				// Compare word count to limits and print message as appropriate
				if ( wordCount < thisMin) {

					$(this).parent().children(".writing_error").text("Word count under " + thisMin + ".");

				} else if (wordCount > thisMax) {

					$(this).parent().children(".writing_error").text("Word count over " + thisMax + ".");

				} else {
					
					// No issues, remove warning message
					$(this).parent().children(".writing_error").text("");

				}
				if ( wordCount < thisMin) {
		
					submit.setAttribute("disabled", true);

				} else if (wordCount > thisMax) {

					submit.setAttribute("disabled", true);
				
				} else {
					
					// No issues, remove warning message
					submit.removeAttribute("disabled");

				}

				if (coordinates.value() == "") {
					submit.setAttribute("disabled", true);
				} else {
					submit.removeAttribute("disabled");
				}

				});

				$(document).ready(function() {

					var inputVal=$("#post-body")

					// Get individual limits
					thisMin = 150;
					thisMax = 1000;
					const submit = document.querySelector("#submit-entry")
					const coordinates = document.querySelector('#lnglatcoordinates')

					// Create array of words, skipping the blanks
					var removedBlanks = [];
					removedBlanks = $(inputVal).val().split(/\s+/).filter(Boolean);

					// Get word count
					var wordCount = removedBlanks.length;

					// Remove extra words from string if over word limit
					if (wordCount > thisMax) {
							
						// Trim string, use slice to get the first 'n' values
						var trimmed = removedBlanks.slice(0, thisMax ).join(" ");
						
						// Add space to ensure further typing attempts to add a new word (rather than adding to penultimate word)
						$(inputVal).val(trimmed + " ");
						
						}
						

					// Compare word count to limits and print message as appropriate
					if ( wordCount < thisMin) {

						$(inputVal).parent().children(".writing_error").text("Word count under " + thisMin + ".");

					} else if (wordCount > thisMax) {

						$(inputVal).parent().children(".writing_error").text("Word count over " + thisMax + ".");

					} else {
						
						// No issues, remove warning message
						$(inputVal).parent().children(".writing_error").text("");

					}
					if ( wordCount < thisMin) {

						submit.setAttribute("disabled", true);

					} else if (wordCount > thisMax) {

						submit.setAttribute("disabled", true);

					} else {
						
						// No issues, remove warning message
						submit.removeAttribute("disabled");

					}

					if (coordinates.value() == "") {
						submit.setAttribute("disabled", true);
					} else {
						submit.removeAttribute("disabled");
					}

					});



	function convertToPlain(html){
						var tempDivElement = document.createElement("entrymarkers");
						tempDivElement.innerHTML = html;
						return tempDivElement.textContent || tempDivElement.innerText || "";
    }

    var htmlString= "<entrymarkers><%=entrymarker%></entrymarkers>";

    var marker = convertToPlain(htmlString)

	var singlemarker = JSON.parse(marker)


	mapboxgl.accessToken = 'pk.eyJ1IjoiY25oMTE4NyIsImEiOiJja28wZTZpNGowY3RoMnBvaTgxZ2M5c3ljIn0.t3_T3EN00e5w7D0et4hf-w';
		const entrymap = new mapboxgl.Map({
			container: 'entrymap', // container ID
			style: 'mapbox://styles/cnh1187/ckppoum2i01vk17mzb71uh331', // style URL
			center: singlemarker.properties.coordinates,
			zoom: 6,// starting zoom
			attributionControl: false,
			});



			var coordinatesGeocoder = function (query) {
				// Match anything which looks like
				// decimal degrees coordinate pair.
				var matches = query.match(
				/^[ ]*(?:Lat: )?(-?\d+\.?\d*)[, ]+(?:Lng: )?(-?\d+\.?\d*)[ ]*$/i
				);
				if (!matches) {
				return null;
				}
				
				function coordinateFeature(lng, lat) {
				return {
				center: [lng, lat],
				geometry: {
				type: 'Point',
				coordinates: [lng, lat]
				},
				place_name: 'Lat: ' + lat + ' Lng: ' + lng,
				place_type: ['coordinate'],
				properties: {},
				type: 'Feature'
				};
				}
				
				var coord1 = Number(matches[1]);
				var coord2 = Number(matches[2]);
				var geocodes = [];
				
				if (coord1 < -90 || coord1 > 90) {
				// must be lng, lat
				geocodes.push(coordinateFeature(coord1, coord2));
				}
				
				if (coord2 < -90 || coord2 > 90) {
				// must be lat, lng
				geocodes.push(coordinateFeature(coord2, coord1));
				}
				
				if (geocodes.length === 0) {
				// else could be either lng, lat or lat, lng
				geocodes.push(coordinateFeature(coord1, coord2));
				geocodes.push(coordinateFeature(coord2, coord1));
				}
				
				return geocodes;
				};

			entrymap.addControl(
				new MapboxGeocoder({
				accessToken: mapboxgl.accessToken,
				localGeocoder: coordinatesGeocoder,
				marker: false,
				mapboxgl: mapboxgl,
				})
			);
			
			entrymap.addControl(new mapboxgl.GeolocateControl({
				positionOptions: {
				enableHighAccuracy: true
				},
				trackUserLocation: true
				})
			);

			var marker = new mapboxgl.Marker({
				color: '#ac6d46',
				draggable: false,
				})
				.setLngLat([-119.5591, 37.715])
				.addTo(entrymap);


			entrymap.on('move', function (e) {
				//console.log(`Current Map Center: ${entrymap.getCenter()}`);
				marker.setLngLat(entrymap.getCenter());
				var lngLat = marker.getLngLat();
				var entryCoordinates = marker.getLngLat();
				//console.log(document.getElementById('coordinates').value);
				coordinates.innerHTML = [lngLat.lng,lngLat.lat];
				coordinates.style.display = 'block';
			});


		document.querySelector("#post-body")
			.addEventListener("keyup", function countWord() {
			let res = [];
			let str = this.value.replace(/[\t\n\r\.\?\!]/gm, " ").split(" ");
			str.map((s) => {
				let trimStr = s.trim();
				if (trimStr.length > 0) {
				res.push(trimStr);
				}
			});
		document.querySelector("#show").innerText = res.length;
		});

		function myFunction() {
			var copyText = document.getElementById("coordinates").value;
			document.getElementById("lnglatcoordinates").value = copyText;
			}


		document.addEventListener("DOMContentLoaded", function() {
			// Select2
			$(".select2").each(function() {
				$(this)
					.wrap("<div class=\"position-relative\"></div>")
					.select2({
						placeholder: "Select value",
						dropdownParent: $(this).parent()
					});
			})
			// Daterangepicker
			$("input[name=\"daterange\"]").daterangepicker({
				opens: "left"
			});
			$("input[name=\"datetimes\"]").daterangepicker({
				timePicker: true,
				opens: "left",
				startDate: moment().startOf("hour"),
				endDate: moment().startOf("hour").add(32, "hour"),
				locale: {
					format: "M/DD hh:mm A"
				}
			});
			$("input[name=\"datesingle\"]").daterangepicker({
				singleDatePicker: true,
				showDropdowns: true
			});
			var start = moment().subtract(29, "days");
			var end = moment();

			function cb(start, end) {
				$("#reportrange span").html(start.format("MMMM D, YYYY") + " - " + end.format("MMMM D, YYYY"));
			}
			$("#reportrange").daterangepicker({
				startDate: start,
				endDate: end,
				ranges: {
					"Today": [moment(), moment()],
					"Yesterday": [moment().subtract(1, "days"), moment().subtract(1, "days")],
					"Last 7 Days": [moment().subtract(6, "days"), moment()],
					"Last 30 Days": [moment().subtract(29, "days"), moment()],
					"This Month": [moment().startOf("month"), moment().endOf("month")],
					"Last Month": [moment().subtract(1, "month").startOf("month"), moment().subtract(1, "month").endOf("month")]
				}
			}, cb);
			cb(start, end);
			// Datetimepicker
			$('#datetimepicker-minimum').datetimepicker();
			$('#datetimepicker-view-mode').datetimepicker({
				viewMode: 'years'
			});
			$('#datetimepicker-time').datetimepicker({
				format: 'LT'
			});
			$('#datetimepicker-date').datetimepicker({
				format: 'L'
			});
		});	

	</script>
</body>

</html>