<%- include('includes/header') %>

<title>Heimursaga | The Explorer Code</title>

<%- include('includes/standard-meta') %>

</head>

<%- include('includes/sidebar') %>

<%- include('includes/navbar') %>

			<main class="content">
				<div class="container-fluid p-0">
					<div class="row">
						<h1 class="h3 mb-3 text-center">The Explorer Code</h1>
						<div class="col-12">
							<div class="card">
								<div class="card-body text-justify col-md-8 offset-md-2 mb-5 mt-3">
									Heimursaga exists for two purposes: as a virtual platform for a community 
									of people who care about this planet and the things that happen here, and as a public 
									repository of geo-specific stories, events, and reflections. The possible use cases 
									for Heimursaga are many, but the misuse of this platform will not be tolerated. Use 
									of the Heimursaga web application constitutes agreement to the following code of conduct.</p>

									Heimursaga journal entries or explorer profiles must not contain:
									<ul>
									<li>Obscene language or expletives</li>
									<li>Sexually explicit language or stories</li>
									<li>Graphic or excessively descriptive accounts of violence</li>
									<li>Overtly political or partisan language</li>
									<li>Marketing of any kind</li>
									<li>Plagiarism of any entries on the platform</li>
									<li>Spam or filler text</li>
									<li>Sexually graphic or suggestive avatars</li>
									<li>Avatars depicting any kind of violence or gore</li>
									<li>Avatars with text</li>
									</ul>
									</p>
									
									Users of Heimursaga also agree to flag any entries or accounts that appear to be in 
									violation of the Explorer Code. Entries and accounts are continuously reviewed for 
									adherence to the Explorer Code, and those found to be in violation will be deleted.
								</div>
							</div>
						</div>


					</div>
				</div>
			</main>
			
<%- include('includes/footer') %>
