<%- include('includes/header') %>

<title>Heimursaga | Getting Started</title>

<%- include('includes/standard-meta') %>

</head>

<%- include('includes/sidebar') %>

<%- include('includes/navbar') %>

			<main class="content">
				<div class="container-fluid p-0">
					<div class="row">
						<h1 class="h3 mb-3 text-center">Getting Started</h1>
						  
						<div class="col-12">
							
							<%- include('includes/flash') %>

							<div class="card">
								<div class="card-body text-center col-md-8 offset-md-2 mb-5 mt-3">
									<h3 class="text-primary">Welcome to Heimursaga, The Explorer's Journal!</h3></p>
									So you've signed up for an Explorer account, and now it's time to learn how to share your stories.
									A Heimursaga Explorer account gives you the ability to write and publish geotagged "journal entries", read and "like"
									other explorers' entries, and follow other explorers as they document their own journeys.</p>
									<div class="row">
										<div class="col-md-4">
											<h5 class="text-primary mt-5">Creating an Entry</h5>
											<hr class="col-md-6 offset-md-3">
											Ready to log an entry? Click the "Create Entry" button on the top right of your screen and follow the 4 steps. Pro tip: 
											use the search box on the map to quickly fly to a location or area.
										</div>
										<div class="col-md-4">
											<h5 class="text-primary mt-5">Liking an Entry</h5>
											<hr class="col-md-6 offset-md-3">
											Click the heart button at the bottom of any entry to "like". Click again to "unlike". All entries you've liked will appear on the "Liked Entries" tab
											of your My Journal page.
										</div>
										<div class="col-md-4">
											<h5 class="text-primary mt-5">Following an Explorer</h5>
											<hr class="col-md-6 offset-md-3">
											Click on the explorer's name or avatar to navigate to their Journal page. Follow them by clicking the "follow" button under their profile photo.
											Click again to unfollow. All entries from explorers you follow will appear on your My Feed page.
										</div>
									</div>
									<h3 class="text-primary mt-5">Discovery</h3>
									<hr class="col-md-6 offset-md-3">
									This is Heimursaga's home page, every entry and every explorer can be found from here. Search for a location on the map, and begin discovering new entries
									and explorers.
									<h3 class="text-primary mt-5">My Feed</h3>
									<hr class="col-md-6 offset-md-3">
									Welcome to your personalized home page! Here you'll see entries from explorers you've followed. Use the map or browse the latest entries in the list feed.
									<h3 class="text-primary mt-5">My Journal</h3>
									<hr class="col-md-6 offset-md-3">
									Think of this as your own personal travel journal. This is where you'll view your profile information, a map of all your entries, and a list feed of
									your entries, entries you've liked, explorers you've followed, and explorers who follow you.
						
									<div class="mt-6">
									<hr class="col-md-6 offset-md-3">
									Be sure to review <a href="/explorer-code">The Explorer Code</a> before posting, and stay adventurous!</p>
									Regards,<br>
									<div>explorer1</div>
									</div>

									<div class="text-center mt-5">
										<a href="/journal/<%= user.username %>"><strong class="text-primary">Take Me To My Journal</strong></a>
									</div>
							</div>
						</div>


					</div>
				</div>
			</main>
			
<%- include('includes/footer') %>
