<%- include('includes/header') %>

<title>Heimursaga | Journal - <%= profileUsername %></title>

<%- include('includes/sidebar') %>

<%- include('includes/navbar') %>

			<main class="content">
				<div class="container-fluid">
					<div class="row">
						<%- include('includes/flash') %>
					  <div class="">
						  <div class="container-fluid p-0">
							<div class="row">
							  <div class="col-12 col-lg-3 d-flex">
								<div class="card flex-fill overflow-auto" style="height: 80vh;">

									<% if (user && isVisitorsProfile) { %>
										<div class="col-md-2 offset-md-10 mt-1">
											<a href="/settings/<%= profileUsername %>"><small>edit</small></a>
										</div>
									<% } %>

									<div class="card-body text-center mt-3">
										<% if (type == "ExplorerPro") { %>
										<img src="<%= profileAvatar %>" class="img-fluid rounded-circle border border-primary mb-2" style="border-width: 3px !important;" width="128" height="128" />
										<% } else { %>
										<img src="<%= profileAvatar %>" class="img-fluid rounded-circle mb-2" width="128" height="128" />
										<% } %>

										<h5 class="card-title mb-3"><%= profileUsername %></h5>
										<!--<div class="text-muted mb-2"><%= type %></div>-->

										<% if (user && !isVisitorsProfile) {
											if (isFollowing) { %>
											  <form class="ml-2 d-inline" action="/removeFollow/<%= profileUsername %>" method="POST">
												
												<input type="hidden" name="_csrf" value="<%= csrfToken %>">

												<button class="btn btn-danger btn-sm">Stop Following <i class="fas fa-user-times"></i></button>
											  </form>
											<% } else { %>
											  <form class="ml-2 d-inline" action="/addFollow/<%= profileUsername %>" method="POST">
												
												<input type="hidden" name="_csrf" value="<%= csrfToken %>">

												<button class="btn btn-primary btn-sm">Follow <i class="fas fa-user-plus"></i></button>
											  </form>
										   <% }
										  } %>
	
										<div>
											<!--<a class="btn btn-primary btn-sm" href="#"><span data-feather="message-square"></span> Message</a>-->
										</div>
									</div>
									<hr class="my-0" />
									
									<div class="card-body">
										<%= bio %>
									</div>
									<hr class="my-0" />
									
									<div class="card-body">
										<ul class="list-unstyled mb-0">
											<li class="mb-1"><span data-feather="briefcase" class="feather-sm me-1"></span> Currently in <strong><%= currentlyin %></strong></li>
											<li class="mb-1"><span data-feather="home" class="feather-sm me-1"></span> Lives in <strong><%= livesin %></strong></li>
											<li class="mb-1"><span data-feather="map-pin" class="feather-sm me-1"></span> From <strong><%= from %></strong></li>
										</ul>
									</div>
								</div>
							  </div>
							  <div class="col-12 col-lg-6 d-flex">
								<div class="card flex-fill" style="height: 80vh;">
									<style>
										.mapboxgl-popup {
										max-width: 400px;
										font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
										}
									</style>
									<div id="map" class="map" style='width: 100%; height: 80vh;'></div>								
								</div>
							  </div>

							<div class="col-12 col-lg-3 d-flex">
								<div class="card w-100" style="height: 80vh;">
									<div class="card-header">
										<ul class="nav nav-tabs card-header-tabs pull-right" role="tablist">
											<li class="nav-item">
												<a class="nav-link active" data-bs-toggle="tab" href="#tab-1"><i class="fas fa-feather-alt" style="color: #3C73AA;"></i></a>
											</li>
											<!--<li class="nav-item">
												<a class="nav-link" data-bs-toggle="tab" href="#tab-2"><i class="far fa-edit" style="color: #3C73AA;"></i></a>
											</li>-->
											<li class="nav-item">
												<a class="nav-link" data-bs-toggle="tab" href="#tab-3"><i class="fas fa-user-check" style="color: #3C73AA;"></i></a>
											</li>
											<li class="nav-item">
												<a class="nav-link" data-bs-toggle="tab" href="#tab-4"><i class="fas fa-users" style="color: #3C73AA;"></i></a>
											</li>

											<% if (user && isVisitorsProfile) { %>
											<li class="nav-item">
												<a class="nav-link" data-bs-toggle="tab" href="#tab-5"><i class="fas fa-heart" style="color: #3C73AA;"></i></a>
											</li>
											<% } %>

										</ul>
									</div>
									<div class="card-body overflow-auto">
										<div class="tab-content">
											<div class="tab-pane fade show active" id="tab-1" role="tabpanel">
												<h5 class="card-title text-center pb-2">Entries</h5>
												<div class="list-group list-group-flush">
													<% entries.forEach(function(entry) { %>
													  <a href="/entry/<%= entry._id %>" class="list-group-item list-group-item-action">
														<strong><%= entry.title %></strong><br/>
														<i class="align-middle me-0 fas fa-fw fa-map-marker-alt text-primary"></i> <small class="align-middle"><%= entry.place %> | <%= entry.date %></small>
													  </a>
												   <% }) %>
												</div>
											</div>
											<div class="tab-pane fade" id="tab-2" role="tabpanel">
												<h5 class="card-title text-center pb-2">Drafts</h5>
												<div class="list-group list-group-flush">
													<% drafts.forEach(function(draft) { %>
														<a href="/draft/<%= draft._id %>" class="list-group-item list-group-item-action">
														  <strong><%= draft.title %></strong><br/>
														  <i class="align-middle me-0 fas fa-fw fa-map-marker-alt text-primary"></i> <small class="align-middle"><%= draft.place %> | <%= draft.date %></small>
														</a>
													 <% }) %>
												</div>
											</div>
											<div class="tab-pane fade" id="tab-3" role="tabpanel">
												<h5 class="card-title text-center pb-2">Following</h5>
												<div class="list-group list-group-flush">
												<% following.forEach(function(followedUser) { %>
													<a href="/journal/<%= followedUser.username %>" class="list-group-item list-group-item-action">
													  <img class="avatar img-fluid rounded-circle me-2" src="<%= followedUser.avatar %>">
													  <%= followedUser.username %>
													</a>
												 <% }) %>
												</div>
											</div>
											<div class="tab-pane fade" id="tab-4" role="tabpanel">
												<h5 class="card-title text-center pb-2">Followers</h5>
												<div class="list-group list-group-flush">
												<% followers.forEach(function(follower) { %>
													<a href="/journal/<%= follower.username %>" class="list-group-item list-group-item-action">
													  <img class="avatar img-fluid rounded-circle me-1" src="<%= follower.avatar %>">
													  <%= follower.username %>
													</a>
												 <% }) %>
												</div>
											</div>
											<% if (user && isVisitorsProfile) { %>
											<div class="tab-pane fade" id="tab-5" role="tabpanel">
												<h5 class="card-title text-center pb-2">Liked Entries</h5>
												<div class="list-group list-group-flush">
													<% liked.forEach(function(likedEntry) { %>
														<a href="/entry/<%= likedEntry.id %>" class="list-group-item list-group-item-action">
														  <strong><%= likedEntry.title %></strong><br/>
														  <i class="align-middle me-0 fas fa-fw fa-map-marker-alt text-primary"></i> <small class="align-middle"><%= likedEntry.place %> | <%= likedEntry.date %></small>
														</a>
													 <% }) %>
												</div>
											</div>
											<% } %>
										</div>
									</div>
								</div>
							</div>

						  </div>
						</div>
					  </div>
					</div>
		
			</main>

			<script type="text/javascript">

				function convertToPlain(html){
					var tempDivElement = document.createElement("entrymarkers");
					tempDivElement.innerHTML = html;
					return tempDivElement.textContent || tempDivElement.innerText || "";
				}
			
				var htmlString= "<entrymarkers><%=entrymarker%></entrymarkers>";
			
				var markers = convertToPlain(htmlString)
			
				console.log(markers)
			
			</script>
						

			
<%- include('includes/footer') %>