<%- include('includes/header') %>

<title>Heimursaga | DRAFT - <%= draft.title %></title>

</head>

<%- include('includes/sidebar') %>

<%- include('includes/navbar') %>

<main class="content">
    <div class="container-fluid p-0">
        <div class="row">
            <div class="col-12 col-xl-12">
                <div class="card">
                    
                    <div class="card-header">
                        <div class="mb-2">
                            <%- include('includes/flash') %>
                            <h3 class="text-center">DRAFT - <%= draft.title %></h3>
                          </div>

                          <div class="col-md-6 offset-md-3">
                              <hr>
                          </div>

                          <div class="mb-2">
                            <h5 class="text-center"><%= draft.place %></h5>
                          </div>

                          <div class="mb-4">
                            <h5 class="text-center text-muted"><%= draft.date %></h5>
                          </div>

                          <div class="body-content">
                            <div class="text-center mb-1 overflow-hidden">
                              <img src="https://api.mapbox.com/styles/cnh1187/clikkzykm00wb01qf28pz4adt/static/pin-s+3C73AA(<%=draft.GeoJSONcoordinates.coordinates%>)/<%=draft.GeoJSONcoordinates.coordinates%>,6/300x300?access_token=pk.eyJ1IjoiY25oMTE4NyIsImEiOiJja28wZTZpNGowY3RoMnBvaTgxZ2M5c3ljIn0.t3_T3EN00e5w7D0et4hf-w">
                            </div>
                            <div class="mb-4 text-center">
                              <small>Longitude: <%= draft.GeoJSONcoordinates.coordinates[0]%>, Latitude: <%= draft.GeoJSONcoordinates.coordinates[1]%></small>
                            </div>


                            <div class="mb-4">
                              <%- filterUserHTML(draft.body) %>
                            </div>
                          </div>



                          <div class="col-md-6 offset-md-3 mb-4">
                            <hr>
                          </div>

                          <div>
                            <p class="text-muted small mb-5 text-center">
                            Saved on <%= draft.createdDate.getMonth() + 1 %>/<%= draft.createdDate.getDate() %>/<%= draft.createdDate.getFullYear() %></p>
                          </div>

                          <div class="row justify-content-between">
                            <% if (draft.isVisitorOwner) { %>
                                <span class="pe-2">
                                  <a href="/draft/<%= draft._id %>/edit" class="text-primary mr-2" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fas fa-edit"></i></a>
                                  <form onsubmit="return confirm('Are you sure you want to delete this draft? This action is irreversible.');" class="delete-post-form d-inline" action="/draft/<%= draft._id %>/delete" method="POST">
                                    
                                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">

                                    <button class="text-danger" data-toggle="tooltip" data-placement="top" title="Delete"><i class="fas fa-trash"></i></button>
                                  </form>
                                </span>
                              <% } %>
                          </div>
                          
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
			
<%- include('includes/footer') %>
