<%- include('includes/header') %>

</head>

<style type="text/css">
  BODY {background:none transparent;}
</style>

<div style="background: white;">

          <div class="">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <input type="hidden" id="entry-id" class="entry-id" value="<%= entry._id %>">
            <input type="hidden" id="has-liked" class="has-liked" value="<%= hasVisitorLiked %>">
            <% if (hasVisitorLiked) { %>
              <div class="position-relative">
              <button style="border: none; background: transparent;" id="like-button" class="text-muted align-middle like-button">
                <i id="heart-icon" class="heart-icon" style="fill: #d9534f; stroke: #d9534f;" data-feather="heart"></i>
                <span id="like-count" class="indicator text-danger"><%= likeCount %></span>
              </button>  
              </div>
            <% } else { %>
              <div class="position-relative">
              <button style="border: none; background: transparent;" id="like-button" class="text-muted align-middle like-button">
                <i id="heart-icon" class="heart-icon" style="fill: #3C73AA; stroke: #3C73AA;" data-feather="heart"></i>
                <span id="like-count" class="indicator text-blue"><%= likeCount %></span>
              </button>  
              </div>
            <% } %> 
          </div>

</div>

<script src="js/app.js"></script>